@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?12z7ck");
  src: url("../fonts/icomoon.eot?12z7ck#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?12z7ck") format("truetype"),
    url("../fonts/icomoon.woff?12z7ck") format("woff"),
    url("../fonts/icomoon.svg?12z7ck#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e915";
}
.icon-linkedin:before {
  content: "\e916";
}
.icon-github:before {
  content: "\e917";
}
.icon-next:before {
  content: "\e914";
}
.icon-heart:before {
  content: "\e90a";
}
.icon-movie-correct:before {
  content: "\e901";
}
.icon-movie:before {
  content: "\e902";
}
.icon-next-arrow:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e904";
}
.icon-person:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e906";
}
.icon-Group-14:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-round-next:before {
  content: "\e909";
}
.icon-key:before {
  content: "\e90b";
}
.icon-not-eye:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-eye:before {
  content: "\e90f";
}
.icon-add:before {
  content: "\e910";
}
.icon-correct:before {
  content: "\e911";
}
.icon-filter:before {
  content: "\e900";
}
.icon-like:before {
  content: "\e912";
}
.icon-placeholder:before {
  content: "\e913";
}
