//color
$primary: #5a4af4;
$success: #05ce91;
$secondary: #1ea5fc;
$error: #ff6161;
$tertary: #b66dff;
$warning: #ffad49;
$background: #121829;
$text: #ebeef5;
$gray: #8e95a9;

//border
$button-radius: 15px;
